<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830441142018-1vfk37c1frtbegl3kgnj4i7tbt73f0h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830441142018-1vfk37c1frtbegl3kgnj4i7tbt73f0h9</string>
	<key>API_KEY</key>
	<string>AIzaSyBLMH6PQqQj106ofiV3D8TnXfMZvK7HGbM</string>
	<key>GCM_SENDER_ID</key>
	<string>830441142018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cgameapp.app</string>
	<key>PROJECT_ID</key>
	<string>cgameapp-11628</string>
	<key>STORAGE_BUCKET</key>
	<string>cgameapp-11628.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830441142018:ios:240598c8b68c092045741b</string>
</dict>
</plist>